<!-- Header -->
<h1 mat-dialog-title style="font-weight: bolder;">
    Withdraw from Account
    <button mat-icon-button class="close-btn" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</h1>

<!-- Content -->
<div >
    <mat-dialog-content class="form-container">

        <form [formGroup]="withdrawForm">
            <mat-form-field appearance="outline">
                <mat-label>Account Number</mat-label>
                <input matInput formControlName="fromAccountNumber" (keyup)="onKeyup($event)">
                <mat-error *ngIf="withdrawForm.get('fromAccountNumber')?.hasError('required')">
                    Account Number is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Transaction Amount</mat-label>
                <input matInput formControlName="transactionAmount" appNumberDot>
                <mat-error *ngIf="withdrawForm.get('transactionAmount')?.hasError('required')">
                    Transaction Amount is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Remarks</mat-label>
                <input matInput formControlName="remarks">
                <mat-error *ngIf="withdrawForm.get('remarks')?.hasError('required')">
                    Remarks is required
                </mat-error>
            </mat-form-field>

        </form>

    </mat-dialog-content>

    <!-- Footer -->
    <mat-dialog-actions align="end">
        <button mat-button (click)="close()">Cancel</button>
        <button mat-flat-button color="primary" (click)="confirm()" [disabled]="withdrawForm.invalid">
            Submit
        </button>
    </mat-dialog-actions>
</div>

