 .mat-mdc-button-base {
   margin: 8px 8px 8px 0;
 }
 
.content-wrapper {
  padding: 24px;
  background: #f6f8fb;
}


.full-border-card {
  width: 100%;
  max-width: 900px;         
  margin: 0 auto;          
  
  border: 1.5px solid #cfcfcf; 
  border-radius: 8px;

}


.full-border-card mat-card-content {
  padding-top: 16px;
}


.even-row {
  background-color: #d6e6d6; 
}



.selected-row {
  background-color: #e3f2fd !important;
}

 .widthraw-button-color {
   background-color: #F65421;
   color: white;
   font-size: 15pt;
 }


 .transfer-button-color {
   background-color: #93be62;
   color: white;
   font-size: 15pt;
 }

  .search-form {
  display: flex;
  align-items: center;
  gap: 12px;        
  flex-wrap: nowrap;
  width: 100%;
}

.search-form mat-form-field {
  min-width: 180px;
  flex: 1 1 auto;
}