<mat-card appearance="outlined">
    <mat-card-header>
        <button mat-flat-button (click)="openDepositDialog()" color="primary">Deposit</button>
        <button mat-button (click)="openWithdrawalDialog()" class="widthraw-button-color">Widthraw</button>
        <button mat-button (click)="openFundTransferDialog()"  class="transfer-button-color">Transfer</button>
    </mat-card-header>
    <mat-card-content style="margin-top: 2%;">
        <mat-card class="table-card">
            <div class="table-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

                    <ng-container matColumnDef="transactionId">
                        <th mat-header-cell *matHeaderCellDef>TransactionId</th>
                        <td mat-cell *matCellDef="let row">{{ row.transactionId }}</td>
                    </ng-container>

                    <ng-container matColumnDef="transactionDate">
                        <th mat-header-cell *matHeaderCellDef>Transaction Date</th>
                        <td mat-cell *matCellDef="let row">{{ row.transactionDate }}</td>
                    </ng-container>

                    <ng-container matColumnDef="referenceNumber">
                        <th mat-header-cell *matHeaderCellDef>Reference Number</th>
                        <td mat-cell *matCellDef="let row">{{ row.referenceNumber }}</td>
                    </ng-container>

                    <ng-container matColumnDef="transactionType">
                        <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
                        <td mat-cell *matCellDef="let row">{{ row.transactionType }}</td>
                    </ng-container>

                    <ng-container matColumnDef="debitAmount">
                        <th mat-header-cell *matHeaderCellDef class="debit">Debit Amount</th>
                        <td mat-cell *matCellDef="let row" class="debit">{{ row.debitAmount |
                            number:'0.2'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="creditAmount" >
                        <th mat-header-cell *matHeaderCellDef class="credit" >Credit Amount</th>
                        <td mat-cell *matCellDef="let row" class="credit" >{{ row.creditAmount |
                            number:'0.2'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="runningBalance">
                        <th mat-header-cell *matHeaderCellDef class="balance">Runnning Balance</th>
                        <td mat-cell *matCellDef="let row" class="balance">{{ row.runningBalance |
                            number:'0.2'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="remarks">
                        <th mat-header-cell *matHeaderCellDef>Remarks</th>
                        <td mat-cell *matCellDef="let row">{{ row.remarks }}</td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center !important;">Actions</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center !important;">
                            <button mat-flat-button (click)="onRowClick(row)">View</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
                        [class.odd-row]="i % 2 !== 0" [class.even-row]="i % 2 === 0">
                    </tr>
                </table>
            </div>

            <mat-paginator [length]="totalElements" [pageSize]="size" [pageSizeOptions]="[ 5, 10, 20]"
            showFirstLastButtons
                (page)="onPageChange($event)">
            </mat-paginator>

        </mat-card>
    </mat-card-content>
</mat-card>