 .mat-mdc-button-base {
   margin: 8px 8px 8px 0;
 }

 .deposit-button {
   font-size: 15pt;
 }

 .widthraw-button-color {
   background-color: #F65421;
   color: white;
   font-size: 15pt;
 }


 .transfer-button-color {
   background-color: #93be62;
   color: white;
   font-size: 15pt;
 }

 th.mat-mdc-header-cell.debit {
  font-weight: 500;
   background-color: #03D3BF;
   text-align: right;
 }

 .debit {
   font-weight: 500;
   background-color: #03D3BF;
   text-align: right;
 }

  th.mat-mdc-header-cell.credit {
  font-weight: 500;
   background-color: #F65421;
   text-align: right;
 }

 .credit {
   background-color: #F65421;
   text-align: right;
   font-weight: 500;
 }

 .balance {
   font-weight: 500;
   text-align: right;
   background-color: #ACF756
 }