<div class="dialog-header">
    <h2>Transaction Information</h2>

    <button mat-icon-button class="close-btn" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content class="detail-container" *ngIf="transactionInfo">


    <div class="detail-row odd">
        <div class="label">Transaction ID</div>
        <div class="value">{{ transactionInfo.transactionId }}</div>
    </div>

        <div class="detail-row even">
        <div class="label">Transaction Date</div>
        <div class="value">{{ transactionInfo.transactionDate }}</div>
    </div>
   <div class="detail-row odd">
        <div class="label">TRX Reference Number</div>
        <div class="value">{{ transactionInfo.referenceNumber }}</div>
    </div>
    <div class="detail-row even">
        <div class="label">Transaction Type</div>
        <div class="value">{{ transactionInfo.transactionType }}</div>
    </div>

    <div class="detail-row odd">
        <div class="label">From Account Number </div>
        <div class="value">{{ transactionInfo.fromAccountNumber }}</div>
    </div>
    <div class="detail-row even">
        <div class="label">From Account Holder Name </div>
        <div class="value">{{ transactionInfo.fromCustomerName }}</div>
    </div>
    <div class="detail-row odd">
        <div class="label">To AccountNumber</div>
        <div class="value">{{ transactionInfo.toAccountNumber }}</div>
    </div>
    <div class="detail-row even">
        <div class="label">To Account Holder Name</div>
        <div class="value">{{ transactionInfo.toCustomerName }}</div>
    </div>
    <div class="detail-row odd">
        <div class="label">Debit Amount</div>
        <div class="value">{{ transactionInfo.debitAmount |number:'0.2' }}</div>
    </div>
    <div class="detail-row even">
        <div class="label">Credit Amount</div>
        <div class="value">{{ transactionInfo.creditAmount |number:'0.2'}}</div>
    </div>
  <div class="detail-row odd">
        <div class="label">Remarks</div>
        <div class="value">{{ transactionInfo.remarks  }}</div>
    </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>